.a{
    position: absolute;
    width: 1440px;
    height: 592px;
    left: 0px;
    top: -1px;
    
    
    background: #FFCD9E;
}
.b{
position: absolute;
width: 562px;
height: 108px;
left: 136px;
top: 83px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
color: #282828;
}
.c{
position: absolute;
width: 495px;
height: 81px;
left: 136px;
top: 219px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
display: flex;
align-items: center;
color: #484848;
}
.d{

    position: absolute;
    width: 227px;
    height: 81px;
    left: 136px;
    top: 315px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    display: flex;
    align-items: center; 
    color: #282828;
}
.e
{
box-sizing: border-box;
position: absolute;
width: 344px;
height: 64px;
left: 136px;
top: 411px;

background: #FFFFFF;
border: 4px solid #000000;
border-radius: 8px;

}
.f{
    position: absolute;
width: 350px;
height: 64px;
left: 158px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;
/* or 32px */

display: flex;
align-items: center;

color: #888888;
}
.button{
    position: absolute;
    background: #282828;
width: 216px;
height: 64px;
left: 496px;
top: 411px;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
padding-left:30px;

color: #FFFFFF;

}
.i
{
    position: absolute;
width: 344px;
height: 61px;
left: 134px;
top: 479px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 26px */

display: flex;
align-items: center;
text-align: center;
padding-left: 30px;

color: #FFFFFF;

}

.bottom{
    position: absolute;
    width: 1440px;
    height: 298px;
    left: 0px;
    top: 592px;
    background: #282828; 
}
.j{
    position: absolute;
width: 216px;
height: 36px;
left: 191px;
top: 654px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */


color: #FFFFFF;
}
.k{
    position: absolute;
width: 148px;
height: 36px;
left: 1099px;
top: 654px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */

text-align: right;

color: #FFFFFF;

}
img{
    position: absolute;
left: 65.98%;
right: 65.58%;
bottom: 11.51%;

background-color: #FFCD9E;
}